<div class="container">
  <!-- Form Name -->
  <legend>Strain-life calculator</legend>

  <!-- Select Material -->
  <fieldset style="margin-bottom: 20px;">
    <label class="control-label">Select Material</label>
    <select class="form-control" data-ng-options="material.label for material in materials.data" data-ng-model="materials.loaded"/>
  </fieldset>

  <fieldset>
    <h5>Material properties</h5>
    <div class="form-group" data-ng-repeat="prop in materials.properties">
      <input class="form-control"
             data-ng-model="materials.loaded[prop.notation]"
             placeholder="{{ prop.label }}">
    </div>
  </fieldset>

  <fieldset>
    <h5>Loading </h5>
    <div class="form-group" data-ng-repeat="prop in loading.properties">
      <input class="form-control"
             data-ng-model="loading[prop.notation]"
             placeholder="{{ prop.label }}">
    </div>
  </fieldset>

  <button type="button" class="btn btn-primary" data-ng-click="compute()">Calculate</button>

  <fieldset>
    <h5>Cycles</h5>
    <div class="form-group">
      <input data-ng-model="Nu" class="form-control" placeholder="Cycles">
    </div>
  </fieldset>
</div>
