<div class="container">
  <!-- Form Name -->
  <legend>Strain-life calculator</legend>

  <!-- Select Material -->
  <fieldset style="margin-bottom: 20px;">
    <label class="control-label" for="selectmaterial">Select Material</label>
    <select class="form-control" data-ng-options="material.label for material in materials" data-ng-model="currentMaterial"/>
  </fieldset>

  <fieldset>
    <h5>Material properties</h5>
    <div class="form-group">
      <input type="text" data-ng-model="currentMaterial.sigma_subf_prime" class="form-control" placeholder="Fatigue strength coefficient">
    </div>
    <div class="form-group">
      <input type="text" data-ng-model="currentMaterial.b" class="form-control" placeholder="Fatigue strength exponent">
    </div>
    <div class="form-group">
      <input type="text" data-ng-model="currentMaterial.epsilon_subf_prime" class="form-control" placeholder="Fatigue ductility coefficient">
    </div>
    <div class="form-group">
      <input type="text" data-ng-model="currentMaterial.c" class="form-control" placeholder="Fatigue ductility exponent">
    </div>
    <div class="form-group">
      <input type="text" data-ng-model="currentMaterial.Epsilon" class="form-control" placeholder="Elastic modulus">
    </div>
  </fieldset>

  <fieldset>
    <h5>Conditions </h5>
      <div class="form-group">
        <input type="text" data-ng-model="conditions.sigma_subm" class="form-control" placeholder="Mean stress">
      </div>
      <div class="form-group">
        <input type="text" data-ng-model="conditions.epsilon_suba" class="form-control" placeholder="{{materialProperties.epsilon_suba}}">
      </div>
  </fieldset>

  <button type="button" class="btn btn-primary" data-ng-click="compute()">Calculate</button>

  <fieldset>
    <h5>Cycles</h5>
    <div class="form-group">
      <input type="text" data-ng-model="Nu" class="form-control" placeholder="Cycles">
    </div>
  </fieldset>
</div>
