<div class="container">
  <!-- Form Name -->
  <legend>Strain-life calculator</legend>

  <!-- Select Material -->
  <fieldset style="margin-bottom: 20px;">
    <label class="control-label">Select Material</label>
    <select class="form-control" data-ng-options="material.label for material in materials.data" data-ng-model="materials.loaded"/>
  </fieldset>

  <fieldset>
    <h5>Material properties</h5>
    <div class="form-group">
      <input type="text" data-ng-model="materials.loaded.sigma_subf_prime" class="form-control" placeholder="{{ materials.properties.sigma_subf_prime }}">
    </div>
    <div class="form-group">
      <input type="text" data-ng-model="materials.loaded.b" class="form-control" placeholder="{{ materials.properties.b }}">
    </div>
    <div class="form-group">
      <input type="text" data-ng-model="materials.loaded.epsilon_subf_prime" class="form-control" placeholder="{{ materials.properties.epsilon_subf_prime }}">
    </div>
    <div class="form-group">
      <input type="text" data-ng-model="materials.loaded.c" class="form-control" placeholder="{{ materials.properties.c }}">
    </div>
    <div class="form-group">
      <input type="text" data-ng-model="materials.loaded.Epsilon" class="form-control" placeholder="{{ materials.properties.Epsilon }}">
    </div>
  </fieldset>

  <fieldset>
    <h5>Loading </h5>
      <div class="form-group">
        <input type="text" data-ng-model="loading.sigma_subm" class="form-control" placeholder="{{ loading.properties.sigma_subm }}">
      </div>
      <div class="form-group">
        <input type="text" data-ng-model="loading.epsilon_suba" class="form-control" placeholder="{{ loading.properties.epsilon_suba }}">
      </div>
  </fieldset>

  <button type="button" class="btn btn-primary" data-ng-click="compute()">Calculate</button>

  <fieldset>
    <h5>Cycles</h5>
    <div class="form-group">
      <input type="text" data-ng-model="Nu" class="form-control" placeholder="Cycles">
    </div>
  </fieldset>
</div>
