body {
  padding: 0;
}

.container {
  max-width: 400px;
}


/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #ccc;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
